CONTENT_API_URL=http://127.0.0.1:8000/api/publication/v1/
DJANGO_DB_NAME=backend/db.sqlite3
DJANGO_MEDIA_ROOT=backend/media
DJANGO_BIND_HOST=127.0.0.1
DJANGO_PORT=8000
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_DEBUG=1
ASTRO_HOST=0.0.0.0
ASTRO_PORT=4321
